h1 {
	color: rgb(2,132,130);
}

h2 {
	color: #FFD700;
}


div.board{
	width: 50%;
	height: 50%;
	display: inline-block;	
}

div.card{
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background-color: yellow;
	border-radius: 10px;
	float: left;
	margin: 8%;
}

img{ height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 10px;
	float: left;
	margin: 8%;

}

.name{
	color: #FF0000;
}

h1, h2, p, footer{
	text-align: center;
}

nav{
	background-color: #808080;
}

a{
	background-color: #ffbf00;
	text-decoration: none;
	color: white;
	padding: 35px;
	display: block;
	float: left;	
}
a:hover{
	background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

footer{
	background-color: #66ffcc;
}
